<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

  <connectionStrings>
    <add name="ConnString"
         connectionString="Database=db_contato;
          Server=BIANCA-PC\b1;
          user=sa;       
          pwd=sap@123"
         providerName="Contato"
     />
  </connectionStrings>

    <!--<connectionStrings>
        <add name="ConnString"
            connectionString="Data Source=BIANCA-PC\b1;Initial Catalog=db_contato;Integrated Security=True; user=sa; pwd=sap@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->

    </configuration>